<div class="loginParent" ng-controller="loginController" ng-cloak>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 loginContainer text-center">
            <div class="form-group loginFormWrapper verticalCenter">
                <input class="loginUserId" type="text" placeholder="userId" ng-model="userId">
                <br>
                <br>
                <input class="loginPassword" type="password" placeholder="password" ng-model="password">
                <br>
                <br>
                <button class="btn loginButton">Login</button>
                <br>
                <br>
                <a class="skipLogin" href="#">Skip</a>
            </div>
        </div>
    </div>
    <div class="copyrightInfo">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div>Copyrights Reserved</div>
                <div>Keshav Saini | Puneet Kumar</div>
            </div>
        </div>
    </div>
</div>