@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 732px;
    max-width: 412px;
/*    background-color: #2f404b;*/
    font-family: 'Roboto', sans-serif;
}
.verticalCenter {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}
.noBleed{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden;
}
/*Login State Start*/
.loginParent{
    height: 100%;
    width: 100%;
    background-color: #2f404b;
}
.loginContainer{
    margin-top: 10rem;
    height: 50%;
    background-color: #5b8199;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.3);
}
.loginFormWrapper{
    
}
.loginUserId, .loginPassword, .loginButton{
    width: 90%;
    height: 4rem;
}
.loginButton, .loginButton:hover, .loginButton:active, .loginButton:focus{
    color: white;
    background-color: #2f404b;
    outline: none;
    border-radius: 0;
}
.skipLogin, .skipLogin:active, .skipLogin:visited, .skipLogin:focus, .skipLogin:hover{
    color: white;
    text-decoration: none;
}
.copyrightInfo{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}
/*Login State End*/